.title {
  margin-top: 0%;
  font-size: 180px;
  /* color: rgba(104, 102, 102, 0.197); */
  color: wheat;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease;
}

.title span:nth-child(1):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(2):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(3):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(5):hover {
  color:wheat;
}
.title span:nth-child(6):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(7):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.titlespan:nth-child(8):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(9):hover {
  color:wheat;
  /* padding-right: 10px; */
}
.title span:nth-child(10):hover {
  color:wheat;
  text-shadow: 0 0 4px white;
  /* padding-right: 10px; */
}

.title span:nth-child(4):hover {
  margin-top: 0%;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}